.outer{
    background-image: linear-gradient(45deg, #4E1F38, #552c2c, #433e58);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.chat-interface-outer{
    height: calc(100% - 100px);
    margin: 50px 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
}
.friend-active-details{
    display: flex;
}
.friend-active-picture{
    border-radius: 100%;
    height: 50px;
    opacity: 0.8;
    border: solid 2px white;
}
.friend-active-nl{
    margin:0 15px;
}
.friend-active-name{
    color:rgb(205, 205, 205);
    line-height: 1;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.friend-active-last-seen{
    color: #bebebe83;
    line-height: 1;
}
.friend-active-details-icon-cover{
    margin:10px;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    background-color: #00000046;
    padding: 10px;
    transition: transform 0.3s ease;
}
.friend-active-details-icon-cover:hover{
    transform: scale(1.2);
}
.friend-active-details-icon{
    height: 30px;
    opacity: 0.7;
}
.chat-messages{
    width: 100%; 
    max-height: calc(100vh - 240px);   
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar {
    display: none;
}
.msg{
    font-size: 25px;
}
.sent-message{
    align-self: flex-end;
    margin: 5px;
    color:white;
}
.sent-message .msg{
    padding:6px 20px;
    background-color: rgb(0,0,0,0.4);
    border-radius: 20px 20px 0px 20px;
}
.sent-message .time,.sent-message .name{
    margin: 5px 15px;
    opacity: 0.7;
    font-size: 12px;
}
.received-message{
    align-self: flex-start;
    margin: 5px;
    color:white;
}
.received-message .msg{
    padding:6px 20px;
    background-color: #C624D2;
    border-radius: 20px 20px 20px 0px;
}
.received-message .time,.received-message .name{
    margin: 5px 15px;
    opacity: 0.7;
}
.message-input-outer{
    background-color: rgb(0,0,0,0.4);
    width: 100%;
    height: 60px;
    border-radius: 30px;
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-input{
    flex-grow: 1;
    margin-left: 30px;
    color:rgb(197, 197, 197);
    height: 80%;
    background: transparent;
    border:none;
    font-size: 25px;
}
.message-input:focus{
    outline:none
}
.message-input-icons{
    height: 25px;
    margin:0 10px;
}
.message-input-icons:hover{
    opacity: 0.4;
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .message-animation {
    animation: slideIn 0.3s ease-out;
  }
  
