name: Generate Contributors

on:
  pull_request:
    types:
      - closed
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm ci --prefix linkup-backend/

      - name: Run JavaScript file
        run: node generateContributors.js
